/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box; }

body {
  font-size: 1em;
  line-height: 1.6;
  color: #4a4a4a;
  @extends %center-content;
  font-family: "Ubuntu", Helvetica, sans-serif;
  max-width: 1800px; }

p {
  font-size: .95em;
  /* margin-bottom: 1.8em; */ }

h2,
h3,
a {
  color: #4a4a4a; }

h2 {
  padding-top: .15em; }

h3,
h4 {
  margin-top: 0; }

h4 {
  margin-bottom: .4em; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix::after {
  content: " ";
  display: table;
  clear: both; }

.wrapper {
  @extends %center-content;
  text-align: center;
  max-width: 90%; }
  @media (min-width: 769px) {
    .wrapper {
      width: 90%;
      margin: 0 auto;
      background-color: #fff; } }

.portfolio-item {
  vertical-align: top;
  min-height: 400px; }

.portfolio-item p {
  padding-bottom: 1em; }
  @media (min-width: 1025px) {
    .portfolio-item p {
      font-size: 1.2em; } }

@media (min-width: 1025px) {
  .container {
    @extends %center-content;
    max-width: 90%; } }

@media (min-width: 1025px) {
  #portfolio {
    margin-top: 2.5em;
    margin-bottom: 2.5em; } }

.col {
  padding-right: 1em;
  padding-left: 1em; }
  @media (min-width: 769px) {
    .col {
      float: left; } }
  @media (min-width: 1025px) {
    .col {
      width: 100%; } }
  @media (min-width: 1025px) {
    .col .portfolio-item {
      margin-right: 20px;
      display: inline-block;
      width: 30%; } }

@media (min-width: 769px) {
  .primary,
  .secondary {
    width: 50%; } }
@media (min-width: 1025px) {
  .primary,
  .secondary {
    width: 100%; } }

@media (min-width: 1025px) {
  .wrapper > .primary,
  .wrapper > .secondary {
    display: inline-block; } }

.main-header {
  background: url("../img/bg-pattern.png") repeat 0 0;
  background-color: #fafafa;
  padding-top: .5em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  text-align: center; }

.my-picture,
.main-header p {
  max-width: 80%;
  margin: 10px auto; }

.my-picture {
  border-radius: 0 15%; }
  @media (min-width: 769px) {
    .my-picture {
      max-width: 45%;
      float: right; } }

@media (min-width: 769px) {
  .header-bio {
    position: relative;
    display: block;
    max-width: 90%;
    margin: 10px auto; } }
@media (min-width: 769px) {
  .header-bio p {
    position: absolute;
    top: 20%;
    vertical-align: middle;
    text-align: left;
    font-size: 1.2em;
    font-weight: lighter;
    max-width: 45%;
    float: left;
    padding-left: 10px; } }
@media (min-width: 1025px) {
  .header-bio span {
    vertical-align: middle;
    font-size: 1.3em; } }

.name {
  font-size: 2em;
  margin: 0; }
  @media (min-width: 1025px) {
    .name {
      float: left; } }

.name a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  margin-top: 10px; }

.main-footer {
  text-align: center; }

.main-footer {
  background: #fafafa;
  padding: 2em 0;
  margin-top: 30px; }
  @media (min-width: 1025px) {
    .main-footer h3 {
      text-transform: uppercase; } }
  @media (min-width: 1025px) {
    .main-footer .cta {
      margin-bottom: 1em; } }
  @media (min-width: 1025px) {
    .main-footer p {
      @extends center-content;
      margin: 0 auto;
      max-width: 40%;
      margin-bottom: 0;
      font-size: 1.5em; } }

.footer-large {
  display: none; }
  @media (min-width: 769px) {
    .footer-large {
      display: block;
      border-top: 1px solid #d3d3d3;
      margin: 0 5%; } }
  @media (min-width: 769px) {
    .footer-large .float-left {
      margin-top: 16px; } }

.footer-mobile {
  border-top: 1px solid #d3d3d3;
  padding-top: 5%;
  margin: 0 5%; }
  @media (min-width: 769px) {
    .footer-mobile {
      display: none; } }

.main-nav {
  padding: 0 10px;
  list-style-type: none;
  margin: 5px auto; }
  @media (min-width: 769px) {
    .main-nav {
      text-align: center; } }
  @media (min-width: 1025px) {
    .main-nav {
      float: right; } }
  @media (min-width: 1025px) {
    .main-nav ul {
      float: left; } }

.main-nav li {
  background-color: #fff; }
  @media (min-width: 769px) {
    .main-nav li {
      display: inline-block;
      margin-left: 15px;
      background-color: #fafafa; } }

.main-nav a {
  font-size: 1em;
  color: #4a4a4a;
  font-weight: bold;
  text-transform: uppercase; }

.main-nav a:hover {
  color: #093a58; }

.main-nav a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  margin-top: 10px; }

@media (min-width: 769px) {
  .footer-nav {
    text-align: center;
    float: right; } }
@media (min-width: 769px) {
  .footer-nav li {
    display: inline-block;
    margin-left: 15px;
    background-color: #fafafa; } }

/*# sourceMappingURL=application.css.map */
