/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	color: #4a4a4a;
	margin:0 auto;
	max-width: 1800px;
	
}

p {
	font-size: .95em;
	/* margin-bottom: 1.8em; */
}

h2,
h3,
a {
	color: #4a4a4a;
}

h2 {
	padding-top:.15em;
}

h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 2em;
	margin: 0;
}

.main-nav {
	padding: 0 10px;
	list-style-type: none;
	margin: 5px auto;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
		margin-top: 10px;
	}
	.main-nav li {
		background-color: white;
	}
	
	.main-nav a {
		font-size: 1em;
		color: #4a4a4a;
		font-weight: bold;
		text-transform: uppercase;
	}

	.main-nav a:hover {
		color: #093a58;
	}

/* ---- Layout Containers ---- */

.main-header {
	background: url("../img/bg-pattern.png") repeat 0 0;
	background-color: #fafafa;
	padding-top: .5em;
	padding-bottom: 2em;
	margin-bottom:2em;
	text-align: center;
}

.header-bio p {
	/* display:inline;
	float:left; */

}

.wrapper,
.main-footer {
	text-align: center;

}
.wrapper {
	max-width:90%;
	margin:0 auto;

}

.my-picture,
.main-header p {
	max-width: 80%;
	margin: 10px auto;
}

.my-picture {
	border-radius: 0 15%;

}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #fafafa;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}
.portfolio-item {
	vertical-align:top;
	min-height: 400px;

}
.portfolio-item p {
	padding-bottom:1em;

}

.float-left {
	float:left;

}
.float-right {
	float:right;
}
.footer-large {
	display:none;
}
.footer-mobile {
	
	border-top: 1px solid #d3d3d3;
	
	padding-top:5%;
	margin: 0 5% ;

}

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 769px) {

	.wrapper {
		width: 90%;
		margin: 0 auto;
		background-color: white;
	}

	
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.main-nav {
		text-align: center;

	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
		background-color: #fafafa;
	}

	.header-bio {
		position:relative;
		display: block;
		max-width: 90%;
		margin: 10px auto;

	}
	.header-bio p {
		position: absolute;
		top:20%;
		vertical-align: middle;
		text-align: left;
		font-size: 1.2em;
		font-weight: lighter;
		max-width: 45%;
		float: left;
		padding-left: 10px;
		
	}
	.my-picture {
		max-width: 45%;
		float:right;
	}

	.footer-large {
		display: block;
		border-top: 1px solid #d3d3d3;
		
		margin: 0 5%;
	}
	.footer-large .float-left {
		margin-top: 16px;
	}

	.footer-mobile {
		display:none;
	
	}

	.footer-nav {
		text-align: center;
		float:right;

	}

	.footer-nav li {
		display: inline-block;
		margin-left: 15px;
		background-color: #fafafa;
	}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media screen and (min-width: 1025px) {
	
	.container {
		max-width: 90%;
		margin: 0 auto;
		
	}

	.name {
		float:left;

	}

	.main-nav {
		float:right;
	}

	.main-nav ul {
		float: left;
	}

	.header-bio span {
		vertical-align: middle;
		font-size: 1.3em;
	}

	.col { 
		width: 100%;
	}
	.wrapper > .primary,
	.wrapper > .secondary {
		display: inline-block;
		
	}
	.col .portfolio-item {
		margin-right: 20px;

		display: inline-block;
		width: 30%;
	}

	#portfolio {
		margin-top: 2.5em;
		margin-bottom: 2.5em;
	}
	.portfolio-item p {
		font-size:1.2em;
	}
	.main-footer h3 {
		text-transform: uppercase;

	}
	.main-footer .cta {
		margin-bottom:1em;
	}
	
	.main-footer p {
		margin: 0 auto;
		max-width: 40%;
		margin-bottom: 0;
		font-size: 1.5em;
	}

	

}