// hamburger icon
.hamburger {
	@include mobile {
	    cursor: pointer;
	    padding: 15px;
	    display: block;
	}
  }

.line {
	@include mobile {
		border-bottom: 4px solid #bbb;
		width: 35px;
		margin-bottom: 6px;
	}
}

.line:last-child {
	@include mobile {
		margin-bottom: 0;
	}
}




.main-nav {
	padding: 0 10px;
	list-style-type: none;
	margin: 5px auto;

	@include narrow {
		text-align: center;
	}
	@include wide {
		float: right;
	}
	//hide menu on mobile until jquery toggles .open
	@include mobile {
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
	}


	ul {
		@include wide {
			float: left;
		}
	}

}

.open {
    height: 165px;
}

.main-nav li {
	background-color: $color-bg-main;

	@include narrow {
		display: inline-block;
		margin-left: 15px;
		background-color: $color-bg-accent;
	}
}

.main-nav a {
	font-size: 1em;
	color: $color-text-dark;
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: $color-text-dark-hover;
}

.main-nav {
	a {
		display: block;
		text-align: center;
		padding: 10px 15px;
		margin-top: 10px;
	}
}