.main-footer {
	text-align: center;
}

.main-footer {
	background: $color-bg-accent;
	padding: 2em 0;
	margin-top: 30px;

	h3 {
		@include wide {
			text-transform: uppercase;
		}
	}

	.cta {
		@include wide  {
			margin-bottom:1em;
		}
	}

	p {
		@include wide {
			@extends center-content; 
			margin: $margin-centered;
			max-width: 40%;
			margin-bottom: 0;
			font-size: 1.5em;
		}
	}
}

.footer-large {
	display:none;

	@include narrow {
		display: block;
		border-top: 1px solid $color-border-dark;
		margin: 0 5%;
	}

	.float-left {
		@include narrow{
			margin-top: 16px;
		}
	}
}

.footer-mobile {
	border-top: 1px solid $color-border-dark;
	padding-top:5%;
	margin: 0 5% ;

	@include narrow {
		display:none;
	}

}
