.main-header {
	background: url("../img/bg-pattern.png") repeat 0 0;
	background-color: $color-bg-accent;
	padding-top: .5em;
	padding-bottom: 2em;
	margin-bottom:2em;
	text-align: center;
}
.my-picture,
.main-header p {
	max-width: 80%;
	margin: 10px auto;
}

.my-picture {
	border-radius: 0 15%;

	@include narrow {
		max-width: 45%;
		float:right;
	}
}

.header-bio {
	@include narrow {
		position:relative;
		display: block;
		max-width: 90%;
		margin: 10px auto;
	}

	p {
		@include narrow {
			position: absolute;
			top:20%;
			vertical-align: middle;
			text-align: left;
			font-size: 1.2em;
			font-weight: lighter;
			max-width: 45%;
			float: left;
			padding-left: 10px;
		}
	}
	span {
		@include wide {
			vertical-align: middle;
			font-size: 1.3em;
		}
	}

}

/* ---- Navigation ---- */

.name {
	font-size: 2em;
	margin: 0;

	@include wide {
		float: left;
	}
}

.main-nav {
	padding: 0 10px;
	list-style-type: none;
	margin: 5px auto;

	@include narrow {
		text-align: center;
	}
	@include wide {
		float: right;
	}

	ul {
		@include wide {
			float: left;
		}
	}
}

.name,
.main-nav {
	a {
		display: block;
		text-align: center;
		padding: 10px 15px;
		margin-top: 10px;
	}
}

.main-nav li {
	background-color: $white;

	@include narrow {
		display: inline-block;
		margin-left: 15px;
		background-color: $alabaster;
	}
}

.main-nav a {
	font-size: 1em;
	color: $tundora-grey;
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: $tarawera-blue;
}