/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	@extend %center-content;
	@include text(1em, 1.6, $color: $color-text-dark);
	
	font-family: $stack-sans-serif;
	//margin: $margin-centered;
	max-width: 1800px;
	
}

p {
	font-size: .95em;
	/* margin-bottom: 1.8em; */
}

h2,
h3,
a {
	color: $color-text-dark;
}

h2 {
	padding-top:.15em;
}

h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.float-left {
	float:left;

}

.float-right {
	float:right;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

